body {
    background-color: #f0f0f0;
}

.main-header {
  background-color: #0d47a1;
  color: #fff;
  font-weight: 500;
  font-style: italic;
  font-size: 18px;
  padding: 10px;
}

.row.no-margin {
  margin-bottom: 0;
}

.top-form input {
  margin-bottom: 0 !important;
}

.partial-check {
  margin-top: 5px;
}

.container {
  margin-top: 50px;
}

.blank-info-msg {
  font-size: 1.5em;
  font-weight: 400;
  color: #8a8a8a;
  text-align: center;
}

.info-text {
    font-size: 1.3em;
    font-weight: 400;
    color: #0d47a1;
}

.blank-info-msg.m-tb-100 {
  margin: 100px 0;
}

.form-buttons {
    margin-top: 25px;
}

.row .col.pad-l-0 {
    padding-left: 0;
}

.row .col.pad-r-0 {
    padding-right: 0;
}

.section-title {
    font-size: 1.1em;
    background: #e8e8e8;
    padding: 2px 5px 5px 5px;
    border-radius: 2px;
    margin-bottom: 15px;
    display: inline-block;
    font-weight: 500;
    margin-left: 10px;
}

/* .verb,
.error-code {
    width: 120px;
}

.result-table {
    margin-top: 10px;
}

.close,
.close:hover {
    color: #fff;
} */

.hide {
  display: none;
}

/* .no-data {
    margin-top: 10px;
    text-align: center;
} */

.user-action a {
  cursor: pointer;
  color: #000;
  text-decoration: none;
  margin-left: 10px;
}

.btn {
  background-color: #0d47a1;
}

.btn:hover {
  background-color: #303f9f;
}

.btn:focus {
  background-color: #283593;
}

.dropdown-content li > a,
.dropdown-content li > span {
  color: #0d47a1;
}

input:not([type]):focus:not([readonly]),
input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="url"]:not(.browser-default):focus:not([readonly]),
input[type="time"]:not(.browser-default):focus:not([readonly]),
input[type="date"]:not(.browser-default):focus:not([readonly]),
input[type="datetime"]:not(.browser-default):focus:not([readonly]),
input[type="datetime-local"]:not(.browser-default):focus:not([readonly]),
input[type="tel"]:not(.browser-default):focus:not([readonly]),
input[type="number"]:not(.browser-default):focus:not([readonly]),
input[type="search"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #0d47a1;
  -webkit-box-shadow: 0 1px 0 0 #0d47a1;
  box-shadow: 0 1px 0 0 #0d47a1;
}

input:not([type]):focus:not([readonly]) + label,
input[type="text"]:not(.browser-default):focus:not([readonly]) + label,
input[type="password"]:not(.browser-default):focus:not([readonly]) + label,
input[type="email"]:not(.browser-default):focus:not([readonly]) + label,
input[type="url"]:not(.browser-default):focus:not([readonly]) + label,
input[type="time"]:not(.browser-default):focus:not([readonly]) + label,
input[type="date"]:not(.browser-default):focus:not([readonly]) + label,
input[type="datetime"]:not(.browser-default):focus:not([readonly]) + label,
input[type="datetime-local"]:not(.browser-default):focus:not([readonly])
  + label,
input[type="tel"]:not(.browser-default):focus:not([readonly]) + label,
input[type="number"]:not(.browser-default):focus:not([readonly]) + label,
input[type="search"]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #0d47a1;
}

.input-field .prefix.active {
  color: #0d47a1;
}

[type="radio"]:checked + label:after,
[type="radio"].with-gap:checked + label:before,
[type="radio"].with-gap:checked + label:after {
  border: 2px solid #0d47a1;
}

[type="radio"]:checked + label:after,
[type="radio"].with-gap:checked + label:after {
  background-color: #0d47a1;
}

[type="checkbox"]:checked + label:before {
  border-right: 2px solid #0d47a1;
  border-bottom: 2px solid #0d47a1;
}

[type="checkbox"]:indeterminate + label:before {
  border-right: 2px solid #0d47a1;
}

[type="checkbox"].filled-in:checked + label:after {
    border: 2px solid #0d47a1;
    background-color: #0d47a1;
  }
  
  [type="checkbox"].filled-in.tabbed:checked:focus + label:after {
    background-color: #0d47a1;
    border-color: #0d47a1;
  }