.wrapper {
  min-width: 250px;
}

.app-heading {
  color: #fff;
  padding: 10px;
  background-color: #0d47a1;
  font-size: 1.25em;
  font-weight: bold;
  text-align: left;
  font-style: italic;
  position: relative;
  padding-left: 40px;
}

.app-body {
  padding: 30px;
  text-align: center;
}

.info {
  font-size: 11px;
}

.btn.options {
  margin-top: 30px;
}

.switch label {
  font-size: 1.3em;
}

.btn {
  background-color: #0d47a1;
}

.btn:hover {
  background-color: #303f9f;
}

.btn:focus {
  background-color: #283593;
}

.switch label input[type=checkbox]:checked + .lever {
  background-color: #9fa8da;
}

.switch label input[type=checkbox]:checked + .lever:after {
  background-color: #0d47a1;
}

.logo-popup {
  width: 24px;
  height: 24px;
  background: url(../images/api-response-simulator-logo.svg) left top no-repeat;
  background-size: 100%;
  position: absolute;
  left: 5px;
  top: 5px;
}
